@import "../variables.scss";

.card {
  width: 100%;
  height: auto;
  background-color: var(--color-grey-light-2);
  border-radius: 10px;
  justify-self: center;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 1.5rem;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 4px rgba(#000000, 0.2);
  }

  &__container {
    padding: 1rem;
    display: flex;
    width: 100%;
    position: relative;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__img {
    max-width: 18rem;

    @media only screen and (max-width: $bp-smallest) {
      max-width: 16rem;
    }
  }

  &__box {
    display: flex;
    padding: 0.5rem 1rem;
    align-items: center;
  }

  &__name {
    font-weight: 600;
    font-size: 2rem;
    padding: 1rem 0 0 1rem;

    &_number {
      font-weight: 500;
      color: var(--color-grey-dark-2);
      font-size: 1.6rem;
      padding: 0 1rem;
    }
  }

  &__row1,
  &__row2 {
    font-size: 1.5rem;
    // padding: 0.5rem 1rem;
    padding: 0 1rem;
  }

  &__link {
    text-decoration: none;
    font-size: 1.2rem;
    padding: 1rem;
    color: var(--color-primary-light);
  }

  &__rarity {
    padding: 0 1rem;
  }

  &__emote {
    color: var(--color-blue-light);
    font-size: 1.8rem;
  }

  &__price {
    padding: 1rem;
    margin-top: auto;
    font-weight: 500;

    &_value {
      display: flex;
      gap: 1rem;
      align-items: center;
      font-size: 2.2rem;
      color: var(--color-primary-light);
    }

    &_updatedat {
      font-size: 1.2rem;
    }
  }

  //MyCardsCardItem.jsx
  &__end_text {
    margin-top: auto;
    padding: 1rem;
    font-size: 1.3rem;
    color: var(--color-primary-light);
  }
}

.delete_button {
  position: absolute;
  width: 4rem;
  height: 4rem;
  color: var(--color-primary-dark);
  right: 1.5rem;
  top: 1.5rem;
  font-size: 2rem;
  border: 2px solid var(--color-primary-dark);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;

  &__emote {
    margin-bottom: 0.1rem;
    font-weight: 500;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0px 4px 3px var(--color-grey-dark-1);
    color: var(--color-grey-light-1);
    background-color: var(--color-primary-dark);
  }

  &:active {
    transform: translateY(2px);
    box-shadow: none;
    color: var(--color-grey-light-1);
    background-color: var(--color-primary-dark);
  }
}
