@import "../../variables.scss";

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  list-style-type: none;
  max-width: 50rem;
  width: 100%;
  font-size: 2rem;
  padding-right: 3rem;

  @media only screen and (max-width: $bp-largest) {
    max-width: 45rem;
  }

  @media only screen and (max-width: $bp-large) {
    padding-right: 0;
    font-size: 1.6rem;
    max-width: 40rem;
  }

  @media only screen and (max-width: $bp-medium) {
    max-width: 35rem;
  }

  @media only screen and (max-width: $bp-small) {
    max-width: 17rem;
    padding-right: 0;
    padding: 0 1rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    justify-content: space-around;
  }

  &__item {
    padding: 1rem;
    transition: all 0.2s;
    justify-self: center;
    align-self: center;

    @media only screen and (max-width: $bp-smallest) {
      padding: 0.3rem;
    }

    &_txt {
      text-decoration: none;
      color: var(--color-grey-dark-2);
      font-weight: 500;
      justify-self: center;
      align-self: center;
      display: flex;
      flex-direction: column;
    }

    &_log {
      text-decoration: none;
      background-color: var(--color-primary-light);
      color: var(--color-grey-light-1);
      font-weight: 500;
      padding: 1rem 2rem;
      margin: 1rem;
      border-radius: 25px;
      transition: all 0.2s;
      border: none;

      @media only screen and (max-width: $bp-large) {
        padding: 0.5rem 1rem;
      }

      @media only screen and (max-width: $bp-small) {
        padding: 0.7rem;
        display: flex;
        flex-direction: column;
      }

      @media only screen and (max-width: $bp-smallest) {
        margin: 0;
        padding: 0.5rem;
      }

      &:hover {
        transform: translateY(-3px);
        background-color: var(--color-primary-dark, 0.05);
        box-shadow: 0 4px 4px rgba(#000000, 0.3);

        @media only screen and (max-width: $bp-medium) {
          transform: translateY(0px);
        }
      }

      &:active {
        transform: translateY(3px);
        box-shadow: none;
      }
    }
    &_icon {
      font-size: 3rem;
      color: var(--color-grey-dark-2);
      transform: translateX(5%);

      @media only screen and (max-width: $bp-small) {
        font-size: 2.5rem;
      }
    }

    &:hover {
      background-color: var(--color-grey-light-2, 0.05);
      border-radius: 10px;
      transform: translateY(-3px);
      box-shadow: 0 4px 4px rgba(#000000, 0.3);
    }

    &:active {
      transform: translateY(3px);
      box-shadow: none;
    }
  }
}

.logIn {
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--color-primary-light);
  // this weird margin is only for adjusting the place of a searchbar because i think it looks better
  margin-left: 20rem;
  white-space: nowrap;
  padding: 0.5rem 2rem;
  margin-right: 2rem;
  transition: all 0.2s;

  @media only screen and (max-width: $bp-small) {
    margin-left: 1rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    font-size: 2rem;
    padding: 0.5rem;
    margin-right: 0;
  }

  &:hover {
    background-color: var(--color-grey-light-2, 0.05);
    border-radius: 10px;
    transform: translateY(-3px);
    box-shadow: 0 4px 4px rgba(#000000, 0.3);
    background-color: var(--color-grey-light-2);
  }

  &:active {
    transform: translateY(3px);
    box-shadow: none;
    background-color: var(--color-grey-light-2);
  }
}

.color_white {
  color: var(--color-grey-light-1);
}
