@import "../variables.scss";

.container {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  position: fixed;
  width: 100%;
  top: 50%;
  left: 50%;
  align-items: center;
  transform: translate(-50%, -50%);

  @media only screen and (max-width: $bp-smallest) {
    max-width: 96vw;
  }
}

.pokecards_text {
  font-family: PokeFont;
  margin-bottom: 2rem;
  font-size: 7rem;
  color: var(--color-grey-dark-2);
  text-decoration: none;

  &__red {
    color: var(--color-primary-light);
  }
}

.login {
  font-size: 1.8rem;
  padding: 3rem;
  background-color: var(--color-grey-light-2);
  width: 45rem;
  border-radius: 15px;
  box-shadow: 4px 5px 5px rgba(#000, 0.3);

  @media only screen and (max-width: $bp-smallest) {
    padding: 1.5rem;
    width: 40rem;
    font-size: 2.1rem;
  }

  &__header {
    font-size: 3.5rem;
    padding: 2rem;
    color: var(--color-primary-light);
  }

  &__username,
  &__password,
  &__email {
    display: flex;
    padding: 1.5rem;
    color: var(--color-grey-dark-2);
    flex: 1;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  &__input_user,
  &__input_password,
  &__input_email {
    border: none;
    background-color: var(--color-grey-light-1);
    color: var(--color-grey-dark-2);
    height: 3.5rem;
    border-bottom: 0.2rem solid var(--color-primary-light);
    padding: 1.5rem;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}

.input_label {
  margin-right: auto;
}

.register_here {
  font-size: 1.6rem;
  padding: 1.5rem;

  &__link {
    color: var(--color-primary-dark);
  }
}

.action_button {
  background-color: var(--color-primary-light);
  border-radius: 25px;
  border: none;
  padding: 1rem 2rem;
  color: var(--color-grey-light-1);
  font-weight: 600;
  font-size: 1.8rem;
  margin-left: 50%;
  margin-top: 2rem;

  translate: -50%;
  transition: all 0.2s;

  @media only screen and (max-width: $bp-smallest) {
    margin-top: 0;
  }

  &:hover {
    transform: translateY(-3px);
    background-color: var(--color-primary-dark, 0.05);
    box-shadow: 0 4px 4px rgba(#000000, 0.3);
  }
}

.signup {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-size: 2rem;
  font-weight: 500;
  border: 0;
  border-radius: 5px 5px 0 0;
}

.password_validation {
  color: var(--color-primary-dark);
  margin-right: auto;
  font-size: 1.2rem;
}
